label.error {
    color: red !important;
}

.calculate-banner {
    padding: 0 !important;
}

.flag {
    display: flex;
    justify-content: end;
    gap: 5px;
    position: relative;
    z-index: 222;
}

.flag span {
    padding: 0 !important;
    cursor: pointer;
}

.flag img {
    max-width: 30px;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
    position: relative !important;
    display: none !important;
}

body {
    top: 0 !important;
}

.modal-dialog {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.modal-dialog .modal-content {
    width: 800px;
    min-width: 800px;
    max-width: 800px;
    border-radius: 50px;
    border: 1px solid var(--secondry);
    background: #FFF;
    padding: 30px;
}

.modal-content .close {
    border-radius: 50%;
    background: var(--secondry);
    box-shadow: 0px 10px 30px 0px rgba(233, 182, 255, 0.15);
    width: 100%;
    max-width: 30px;
    height: 30px;
    border: none !important;
    color: var(--primary) !important;
}

.modal-header {
    border-bottom: none !important;
    padding: 0px !important;
}

.modal-body {
    padding: 0px !important;
}

.modal-main-wrp {
    padding-top: 30px;
    padding-bottom: 30px;
}

.modal-main-wrp:last-child {
    padding-bottom: 0px !important;
}

.modal-main-wrp input {
    border-radius: 90px;
    border: 1px solid #DADAD2;
    background: #FFF;
    height: 45px;
    padding-left: 20px;
    color: #685D6D !important;
    font-family: var(--Gordita-regular);
    font-size: 14px;
    /* font-weight: 400; */
    line-height: 20px;
}

.modal-main-wrp input:focus {
    box-shadow: none !important;
    border: 1px solid var(--secondry) !important;
}

.modal-main-wrp select {
    border-radius: 90px;
    border: 1px solid #DADAD2;
    height: 45px;
    padding-left: 20px;
    color: #685D6D !important;
    font-family: var(--Gordita-regular);
    font-size: 14px;
    /* font-weight: 400; */
    line-height: 20px;
}

.modal-main-wrp select:focus {
    box-shadow: none !important;
    border: 1px solid var(--secondry) !important;
}

.modal-main-wrp input::placeholder {
    color: #685D6D !important;
    font-family: var(--Gordita-regular);
    font-size: 14px;
    /* font-weight: 400; */
    line-height: 20px;
}

.modal-main-wrp textarea {
    border-radius: 20px;
    border: 1px solid #DADAD2;
    background: #FFF;
    height: 100px;
    padding-left: 20px;
    padding-top: 10px;
    color: #685D6D !important;
    font-family: var(--Gordita-regular);
    font-size: 14px;
    /* font-weight: 400; */
    line-height: 20px;
}

.modal-main-wrp textarea::placeholder {
    color: #685D6D !important;
    font-family: var(--Gordita-regular);
    font-size: 14px;
    /* font-weight: 400; */
    line-height: 20px;
}

.modal-main-wrp textarea:focus {
    box-shadow: none !important;
    border: 1px solid var(--secondry) !important;
}

.modal-main-wrp button {
    border-radius: 90px;
    background: var(--secondry) !important;
    box-shadow: 0px 10px 30px 0px rgba(233, 182, 255, 0.15);
    color: var(--primary) !important;
    font-family: var(--Gordita-bold);
    font-size: 16px;
    /* font-weight: 700; */
    line-height: 80%;
    border: 1px solid transparent !important;
    padding: 15px 30px;
    margin-top: 20px;
    text-transform: capitalize;
}

.modal-main-wrp button:focus {
    box-shadow: none !important;
}

.modal-main-wrp-1 button {
    display: block;
    margin-left: auto;
    margin-top: 0px !important;
    padding: 15px 40px;
}

.modal-main-wrp-1 {
    border-bottom: 2px solid var(--secondry);

}

.modal-main-wrp-2 button {}

.modal-main-wrp .error {
    color: #685D6D;
    font-family: var(--Gordita-regular);
    font-size: 14px;
    /* font-weight: 400; */
    line-height: 24px;
    margin-bottom: 0px;
}

.modal-main-wrp-2 form .form-wrp {
    margin-bottom: 20px;
}

.modal-main-wrp .iti--separate-dial-code .iti__selected-flag {
    border-radius: 90px 0px 0px 90px;
    background-color: var(--secondry) !important;
    height: 45px;
}

.modal-main-wrp .iti--separate-dial-code .iti__selected-dial-code {
    color: var(--primary);
    font-family: var(--Gordita-medium);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

.modal-main-wrp .iti {
    width: 100%;
}

.modal-footer-btn {
    width: 100%;
    text-align: center;
}

.modal-footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.static-content {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 2px solid var(--secondry);
}

/* .modal-main-wrp-2 form .form-wrp:last-child{
     margin-bottom: 30px !important;
} */
.textarea-wrp {
    margin-bottom: 30px !important;
}

.static-content p {
    color: #685D6D;
    font-family: var(--Gordita-regular);
    font-size: 16px;
    /* font-weight: 400; */
    line-height: 24px;
    margin-bottom: 0px;
}

.static-content p i {
    margin-right: 5px;
}

.static-content p:last-child {
    border-bottom: none;
}

.static-content p span,
.static-content p a {
    color: var(--primary);
    font-family: var(--Gordita-medium);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none !important;
}

.hire-now-btn button {
    padding: 15px 25px;
    background: var(--white) !important;
    border: transparent;
    color: var(--primary) !important;
    font-family: var(--Gordita-bold);
    box-shadow: 0px 10px 30px rgba(194, 127, 27, 0.1);
    font-size: 15px;
    font-weight: 700;
    line-height: 13px;
    border-radius: 90px;
    text-decoration: none;
}

.hire-now-btn button:focus {
    box-shadow: none !important;
}

@media only screen and (max-width: 1199px) {
    .modal-dialog .modal-content {
        width: 800px;
        min-width: 800px;
        max-width: 800px;
        border-radius: 30px;
    }
}

@media only screen and (max-width: 991px) {
    .modal-dialog .modal-content {
        width: 600px;
        min-width: 600px;
        max-width: 600px;
        border-radius: 30px;
        max-height: 500px;
        overflow-y: scroll;
    }
}

@media only screen and (max-width: 767px) {
    .modal-dialog .modal-content {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        border-radius: 30px;
    }

    .modal-main-wrp-1 button {
        margin-top: 20px !important;
    }
}

@media only screen and (max-width: 575px) {
    .modal-dialog {
        width: auto;
    }
    .static-content{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

@media only screen and (max-width: 424px) {
    .modal-footer-btn {
        flex-direction: column;
        gap: 10px;
    }

    .modal-main-wrp-2 button {
        margin-top: 0px !important;
    }
}